@using Microsoft.AspNetCore.Identity;
@using SolutionSelling.Areas.Identity.Data
@inject CartService cartService
@inject UserManager<SolutionSellingUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var userId = user?.Id;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SolutionSelling</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SolutionSelling.styles.css" asp-append-version="true" />
</head>
<body class="bg">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Items" asp-action="Index"><b>SolutionSelling</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (!(@User.IsInRole("Administrator")))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Items" asp-action="ItemsForSale">Items For Sale</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Items" asp-action="CreateItem">Add Item</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Items" asp-action="AccountItems">User Panel</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Items" asp-action="References">Project References</a>
                            </li>
                        }
                        @if (@User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Items" asp-action="ItemsForSale">Moderate Items For Sale</a>
                            </li>
                        }


                        <!-- IJNECT THE CART SERVICE -->
                        @{
                            Cart cart = cartService.Get();
                        }

                        <!-- IF THE CART HAS ITEMS, SHOW THE CART BUTTON -->
                        @if (cart.CartItems.Count > 0)
                        {
                            <li class="nav-item">
                                <a class="btn btn-primary" asp-area="" asp-controller="Cart" asp-action="Index">Cart</a>
                            </li>
                        }
                    </ul>
                </div>

                <!-- INCLUDE LOGIN FUNCTIONALITY DUE TO USING ORIGINAL LAYOUT -->
                <div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            <b>Email : Password</b> &nbsp;|&nbsp; kyle@test.com : Kyle &nbsp;|&nbsp; bec@test.com : Bec &nbsp;|&nbsp; john@test.com : John &nbsp;|&nbsp; <span class="text-danger">admin@administrator.com : Admin</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
