@{
    ViewData["Title"] = "Successfully Added Item";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <button asp-action="Index" class="btn btn-primary">Home</button>
    <button asp-action="CreateItem" class="btn btn-primary">Add Another Item</button>
</div>
