@{
    ViewData["Title"] = "Successfully Added Item";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <a asp-area="" asp-controller="Items" asp-action="ItemsForSale" class="btn btn-primary">Home</a>
    <a asp-area="" asp-controller="Items" asp-action="CreateItem" class="btn btn-primary">Add Another Item</a>
</div>
