@{
    ViewData["Title"] = "Sollution Selling";
}

<div class="text-center">
    <h1 class="display-4 fw-bold fs-200">@ViewData["Title"]</h1>
</div>
<div class="text-center">
    <p> Welcome to Sollution Selling, the place to buy and sell your items!</p>
</div>
<div class="d-flex justify-content-center mt-5">
    <img src="shop.png" alt="shop" width="800"/>
</div>

