@{
    ViewData["Title"] = "References";
}

<!-- REFERENCES FOR THE PROJECT  -->
<div class="text-center">
    <h1 class="display-4 fw-bold fs-200">@ViewData["Title"]</h1>
    <p>
        Sameer Saini. (2022, July 1). ASP.NET Core MVC CRUD - .NET 6 MVC CRUD Operations Using Entity Framework Core and SQL Server [Video]. YouTube. <a href="https://www.youtube.com/watch?v=2Cp8Ti_f9Gk">https://www.youtube.com/watch?v=2Cp8Ti_f9Gk</a>
    </p>
    <p>
        Chowdhury, K. R. (2023). How To Build an E-Commerce Application with ASP.NET 7 MVC and MSSQL Database? – Part 2. Software Development and Consultation. <a href="https://kaushikroychowdhury.com/blog/how-to-build-an-e-commerce-application-with-asp-net-7-mvc-and-mssql-database-part-2/">https://kaushikroychowdhury.com/blog/how-to-build-an-e-commerce-application-with-asp-net-7-mvc-and-mssql-database-part-2/</a>
    </p>
    <p>
        How to Seed Users and Roles with Code First Migration using Identity ASP.NET Core. (n.d.). Stack Overflow. <a href="https://stackoverflow.com/questions/34343599/how-to-seed-users-and-roles-with-code-first-migration-using-identity-asp-net-cor">https://stackoverflow.com/questions/34343599/how-to-seed-users-and-roles-with-code-first-migration-using-identity-asp-net-cor</a>
    </p>

    <a asp-area="" asp-controller="Items" asp-action="ItemsForSale" class="btn btn-primary">Home</a>
</div>
